@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  background-color: #222;


}


h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

#formPeliculas {}

.form-check {
  padding-left: 0;
}

.form-control {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-primary {

  background-color: #45a29e;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.2s ease-in-out;


}

.btn-primary:hover {
  background-color: #2c7873;
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.botonTabla {
  border-radius: 10%;
  background-color: #45a29e;
  border: none;
  color: white;
  font-size: 1;
  font-weight: 10;
  transition: all 0.2s ease-in-out;
  line-height: 50px;
  display: flex;
  display: inline-flex;


}

.divBoton {
  height: 100%;
}

.botonTabla:hover {
  background-color: #2c7873;
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

table {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: auto;
  text-align: center;
  width: 100%;
  overflow-x: auto;
}

table thead tr {
  background-color: #45a29e;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

table th {
  font-weight: 300;
  padding: 1.5rem;
}

table td {
  padding: 1.5rem;
}

table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

select {
  display: flex;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(0, 0, 0, 0.773);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.pelicula-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 60%;
  color: #fff;
}

.pelicula-container img {
  max-width: 90%;
  margin-right: 20px;
  margin: auto;
  display: block;
}

.pelicula-info {
  width: auto;

  justify-content: center;
}

.pelicula-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.pelicula-info p {
  align-items: center;
  display: flex;
  margin: 1%;
  justify-content: center;

}

.pelicula-info .plot {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}